nav {
    position: fixed;
    width: 50%;
    z-index: 10;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    // display: block;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        font-family: $font-stack-secondary;
        text-decoration: none;
        font-size: 16px;
        color: rgb(243, 243, 243);
        &:hover {
            cursor: pointer;
            color: $dark-blue;
        }
        &:active {
            background-color: rgb(52, 53, 56);
        }
    }
    .login-text {
        font-family: $font-stack-secondary;
        color: rgb(243, 243, 243);
    }
    .login-text:hover {
        color: $dark-blue;
    }
}
  
.selected {
    color: $dark-blue;
}
  
@media (min-width: 851px) {
    nav {
        text-align: left;
        h3 {
            visibility: hidden;
            position: absolute;
        }
        .main-list-container {
            background-color: rgb(40, 42, 49);
            border-bottom: 3px solid $dark-blue;
            //padding: 0 5%;
        }
        .nav-container {
            max-width: 1100px;
            width: 90%;
            margin: 0 auto;
        }
        ul {
            text-align: left;
            display: inline-block;
        }
        // ul.social-list {
        //     float: right;
        // }
        li {
            float: left;
            width: 150px;
            height: 45px;
            line-height: 45px;
            position: relative;
            cursor: pointer;
            .nav-main-text:hover {
                font-size: 18px;
            }
        }
        // ul.social-list {
        //     .login-text {
        //         text-align: right;
        //     }
        //     ul li {
        //         background-color: rgb(58, 59, 63);
        //         text-align: center;
        //         &:last-child {
        //             border-radius: 0 0 5px 5px;
        //             -webkit-border-radius: 0 0 5px 5px;
        //             -moz-border-radius: 0 0 5px 5px;
        //         }
        //         &:active {
        //             background-color: rgb(52, 53, 56);
        //         }
        //     }
        // }
        ul.social-list li ul li {
            display: none;
        }
        li:hover > ul.dropdown-menu li {
            display: block;
        }
        // social login dropdown transition
        li:hover > ul.dropdown-menu.menu-1 {
            perspective: 1000px;
            li {
                opacity: 0;
                animation-name: menu1;
                animation-duration: 200ms;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
            }
        }
    }
}
  
@media (max-width: 850px) {
    .list-mobile-container {
        max-width: 1100px;
        width: 90%;
        margin: 0 auto;
        position: relative;
        padding-top: 5px;
        height: 50px;
    }
    nav {
        .list-icon-container {
            background-color: rgb(40, 42, 49);
            border-bottom: 3px solid $dark-blue;
        } 
        li {
            background-color: rgb(58, 59, 63);
        }
        // .social-list {
        //     border-bottom: 2px solid $dark-blue;
        //     .login-text {
        //         display: block;
        //         padding: 10px 5%;
        //         cursor: pointer;
        //     }
        //     li:nth-child(-n+1) {
        //     border-top: 1px solid rgb(110, 114, 114);
        //     }
        //     a {
        //     padding-left: 40px;
        //     }
        // }
        a {
            display: block;
            padding: 10px 5%;
        }
        .dropdown-menu-disable {
            display: none;
        }
        .dropdown-menu-enable {
            display: block;
        }
        h3 {
            margin: 0;
            line-height: 45px;
            display:inline-block;
            float: left;
            font-family: $font-stack-secondary;
            color: rgb(243, 243, 243);
            font-weight: normal;
        }
    }
  
    // icon list button
    .icon-list {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        height: 45px;
        width: 55px;
        padding: 0;
        border: none;
        background-color: rgb(40, 42, 49);
        float: right;
    }
    .icon-list:hover {
        cursor: pointer;
    }
    .list-bar {
        border: 1.5px solid rgb(243, 243, 243);
        margin: 8px;
        border-radius: 1px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        transition: transform 100ms;
    }
    .icon-list:hover {
        .list-bar:nth-child(1) {
            transform: translate(0, -3px);
            -ms-transform: translate(0, -3px);
            -webkit-transform: translate(0, -3px);
        }
        .list-bar:nth-child(3) {
            transform: translate(0, 3px);
            -ms-transform: translate(0, 3px);
            -webkit-transform: translate(0, 3px);
        }
    }
    .icon-list:active {
        .list-bar:nth-child(1) {
            transform: translate(0, 10px);
            -ms-transform: translate(0, 10px);
            -webkit-transform: translate(0, 10px);
        }
        .list-bar:nth-child(3) {
            transform: translate(0, -10px);
            -ms-transform: translate(0, -10px);
            -webkit-transform: translate(0, -10px);
        }
    }
}