// Font Stacks

$font-stack-primary: 'Cabin', 'Trebuchet MS', 'Tahoma';
$font-stack-secondary: 'Fredoka One', 'Arial Rounded MT Bold', 'Segoe UI';

// Colors

$dark-blue: rgb(60, 177, 197);
$light-blue: lightblue;